@use "@/assets/styles/variables" as *;
@use "@/assets/styles/mixins" as *;

.quiz-template {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $color-bg-page;

  &__background {
    @include full-screen-bg;
    z-index: 0;
    transition: background-color $transition-slow;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &--start {
    .quiz-template__background {
      background-color: $color-bg-page;
    }
  }

  &--question {
    .quiz-template__background {
      background-color: rgb(51, 51, 51);
    }
  }

  &--loading {
    .quiz-template__background {
      background-color: rgb(51, 51, 51);
    }
  }

  &--results {
    .quiz-template__background {
      background-color: rgb(255, 255, 255);
    }
  }
}
