@use "@/assets/styles/variables" as *;

.base-text {
  margin: 0;

  &--heading {
    font-family: $font-primary;
    font-weight: $font-weight-bold;
    font-size: $font-size-3xl;
    line-height: 1.2;
    letter-spacing: 2px;

    @media (max-width: $breakpoint-md) {
      font-size: $font-size-2xl;
    }
  }

  &--subheading {
    font-family: $font-primary;
    font-weight: $font-weight-medium;
    font-size: $font-size-xl;
    line-height: 1.4;
    letter-spacing: 1px;

    @media (max-width: $breakpoint-md) {
      font-size: $font-size-lg;
    }
  }

  &--body {
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: 1.6;
  }

  &--caption {
    font-family: $font-secondary;
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
    line-height: 1.5;
  }

  &--dark {
    color: $color-text-dark;
  }

  &--light {
    color: $color-text-light;
  }

  &--gray {
    color: $color-gray-dark;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
